# Лабораторная работа №2 (Подготовка данных в Pandas. Часть 2)

### 1. Создать новую переменную Total_count, в которую записать общее количество арендованных велосипедов за каждый час.

In [30]:
import pandas as pd
import datetime
import numpy as np

df = pd.read_csv("BikeData.csv")
df['Total_count'] = df['Partner 1'] + df['Partner 2']
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Total_count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401,843

### 2. Удалить ряды Partner 1 и Partner 2

In [31]:
df = df.drop(columns=['Partner 1', 'Partner 2'])
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843

### 3. Преобразовать Date к стандартной форме

In [32]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst = True, )
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843

### 4. Определить сколько велосипедов было выдано в день выполнения задания, определить день недели

In [33]:
today = datetime.datetime.today()
filtered_df = df[(df['Date'].dt.day == today.day) & (df['Date'].dt.month == today.month)]
display(filtered_df)
total_bikes_rented = filtered_df['Total_count'].sum()
day_of_week = filtered_df['Date'].iloc[0].strftime('%A')
print(f"Всего велосипедов продано: {total_bikes_rented}")
print(f"День недели: {day_of_week}")

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count
7464,2018-10-08,0,12.3,44,0.8,0.0,0.0,Autumn,No Holiday,Yes,1160
7465,2018-10-08,1,11.7,52,1.1,0.0,0.0,Autumn,No Holiday,Yes,433
7466,2018-10-08,2,11.1,56,1.4,0.0,0.0,Autumn,No Holiday,Yes,84
7467,2018-10-08,3,10.8,59,0.5,0.0,0.0,Autumn,No Holiday,Yes,235
7468,2018-10-08,4,10.4,61,0.6,0.0,0.0,Autumn,No Holiday,Yes,47
7469,2018-10-08,5,9.8,63,0.5,0.0,0.0,Autumn,No Holiday,Yes,202
7470,2018-10-08,6,9.5,68,0.9,0.0,0.0,Autumn,No Holiday,Yes,385
7471,2018-10-08,7,9.2,72,1.0,0.0,0.0,Autumn,No Holiday,Yes,255
7472,2018-10-08,8,9.9,66,1.2,0.0,0.0,Autumn,No Holiday,Yes,2532
7473,2018-10-08,9,12.2,51,0.7,0.0,0.0,Autumn,No Holiday,Yes,2318
7474,2018-10-08,10,15.0,44,0.5,0.0,0.0,Autumn,No Holiday,Yes,1026
7475,2018-10-08,11,17.9,39,1.3,0.0,0.0,Autumn,No Holiday,Yes,1447
7476,2018-10-08,12,19.2,31,0.5,0.0,0.0,Autumn,No Holiday,Yes,1023
7477,2018-10-08,13,20.2,28,1.3,0.0,0.0,Autumn,No Holiday,Yes,1734
7478,2018-10-08,14,20.2,24,1.5,0.0,0.0,Autumn,No Holiday,Yes,1051
7479,2018-10-08,15,20.6,26,1.2,0.0,0.0,Autumn,No Holiday,Yes,2158
7480,2018-10-08,16,20.3,25,1.8,0.0,0.0,Autumn,No Holiday,Yes,2035
7481,2018-10-08,17,20.0,28,0.7,0.0,0.0,Autumn,No Holiday,Yes,1616
7482,2018-10-08,18,18.1,39,1.0,0.0,0.0,Autumn,No Holiday,Yes,2150
7483,2018-10-08,19,16.4,42,1.8,0.0,0.0,Autumn,No Holiday,Yes,3915
7484,2018-10-08,20,15.5,45,2.2,0.0,0.0,Autumn,No Holiday,Yes,1168
7485,2018-10-08,21,15.1,48,2.6,0.0,0.0,Autumn,No Holiday,Yes,1948
7486,2018-10-08,22,14.4,49,1.1,0.0,0.0,Autumn,No Holiday,Yes,1384
7487,2018-10-08,23,13.5,55,0.5,0.0,0.0,Autumn,No Holiday,Yes,1546

Всего велосипедов продано: 31852
День недели: Monday

### 5. Перекодировка Functioning Day в boolean

In [34]:
df['Functioning Day'] = df['Functioning Day'].map({'Yes': True, 'No': False})
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,True,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,True,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,True,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,True,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,True,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,True,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,True,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,True,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,True,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,True,843

#### 5.1. Подсчет нерабочих дней

In [35]:
daily_hours = df.groupby(df['Date'].dt.date)['Functioning Day'].sum()
non_working_days = (daily_hours < 12).sum()
print(f"Число нерабочих дней: {non_working_days}")

Число нерабочих дней: 12

### 6. Перекодировка Holiday в 0 и 1

In [36]:
df['Holiday'] = df['Holiday'].apply(lambda x: 1 if x == 'Holiday' else 0)
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,0,True,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,0,True,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,0,True,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,0,True,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,0,True,843

### 7. Ввод новой категориальной переменной Temperature category

In [37]:
df['Temperature category'] = df['Temperature'].apply(lambda x: 'Freezing' if x < 0 else 'Chilly' if 0 <= x < 15 else 'Nice' if 15 <= x < 26 else 'Hot')
display(df)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count,Temperature category
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257,Freezing
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219,Freezing
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162,Freezing
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148,Freezing
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97,Freezing
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,0,True,644,Chilly
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,0,True,359,Chilly
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,0,True,1236,Chilly
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,0,True,628,Chilly
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,0,True,843,Chilly

### 8. Создать новую переменную Good weather

In [38]:
df['Good weather'] = ((df['Temperature category'] == 'Nice') & 
                      (df['Humidity'] >= 40) & (df['Humidity'] <= 60) &
                      (df['Wind speed'] < 5.4) &
                      (df['Rainfall'] == 0) &
                      (df['Snowfall'] == 0)
                      ).astype(int)
display(df)
good_weather_pct = df['Good weather'].mean() * 100
print(f"Процент дней с хорошей погодой: {good_weather_pct:.2f}%")

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total_count,Temperature category,Good weather
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257,Freezing,0
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219,Freezing,0
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162,Freezing,0
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148,Freezing,0
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97,Freezing,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,0,True,644,Chilly,0
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,0,True,359,Chilly,0
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,0,True,1236,Chilly,0
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,0,True,628,Chilly,0
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,0,True,843,Chilly,0

Процент дней с хорошей погодой: 9.27%

### 9. Сгруппировать данные по сезонам (Seasons), внутри сезона по категории погоды (Temperature category) и вывести для полученной группировки количество арендованных велосипедов.

#### 9.1. Группировка через group by

In [39]:
grouped = df.groupby(['Seasons', 'Temperature category'])['Total_count'].sum()
display(grouped)

Seasons  Temperature category
Autumn   Chilly                   775694
         Freezing                  12035
         Hot                      170674
         Nice                     811498
Spring   Chilly                   587211
         Freezing                   6331
         Hot                       86791
         Nice                     928572
Summer   Hot                     1347262
         Nice                     892664
Winter   Chilly                   215221
         Freezing                 258570
         Hot                        9536
Name: Total_count, dtype: int64

#### 9.2. Групировка через сводную таблицу

In [40]:
pivot = df.pivot_table(index='Seasons', columns='Temperature category', values='Total_count', aggfunc='sum')
display(pivot)

Temperature category    Chilly  Freezing        Hot      Nice
Seasons
Autumn                775694.0   12035.0   170674.0  811498.0
Spring                587211.0    6331.0    86791.0  928572.0
Summer                     NaN       NaN  1347262.0  892664.0
Winter                215221.0  258570.0     9536.0       NaN

### 10. Определить сезон и температуру при которых выдается наибольшее и наименьшее количество велосипедов

In [41]:
max_row = grouped.idxmax()
min_row = grouped.idxmin()
print(f"Максимальное количество велосипедов арендовано в сезоне {max_row[0]} при температуре {max_row[1]}, количество велосипедов: {grouped[max_row]}")
print(f"Минимальное количество велосипедов арендовано в сезоне {min_row[0]} при температуре {min_row[1]}, количество велосипедов: {grouped[min_row]}")

Максимальное количество велосипедов арендовано в сезоне Summer при температуре Hot, количество велосипедов: 1347262
Минимальное количество велосипедов арендовано в сезоне Spring при температуре Freezing, количество велосипедов: 6331